{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.1/foundation.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="x-icon" />
      <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Architects+Daughter|Gloria+Hallelujah|Crafty+Girls' rel='stylesheet' type='text/css'>
      <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        <title>Gracey's blog</title>
    </head>
    <body>
    <div class="row">
      <div class="large-1 columns">
        <p></p>
      </div>
      <div class="large-9 columns">
          <div class="header">
              {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'post_draft_list' %}" class="top"><span class="glyphicon glyphicon-edit"/></a>
                {% else %}
                <a href="{% url 'django.contrib.auth.views.login' %}" class="top"><span class="glyphicon glyphicon-lock" style="height: 30px;"></span></a>
                {% endif %}
                <h2><a href="{% url 'blog.views.post_list' %}">Jijjy's blog</a></h2>
              <div class="content container">
                    {% block content %}

                    {% endblock %}
              </div>
          </div>
      </div>
      <div class="large-2 columns">
        <p class="top-menu">Hey {{ user.username }}<small><br>(<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)</small></p>
      </div>
    </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76539162-1', 'auto');
  ga('send', 'pageview');

</script>  
    </body>
  </html>
